@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.social-link {
  text-decoration: none;
  color: #ffffff
}

.icon {
  position: relative;
  background-color: #20202d;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background-color: #0077b5;
  color: #ffffff;
}

.instagram:hover,
.instagram:hover .tooltip,
.instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.telegram:hover,
.telegram:hover .tooltip,
.telegram:hover .tooltip::before {
  background-color: #0088cc;
  color: #ffffff;
}

.vkontakte:hover,
.vkontakte:hover .tooltip,
.vkontakte:hover .tooltip::before {
  background-color: #2787F5;
  color: #ffffff;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

body {
  background-color: #20202d;
  margin: 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px;
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.person {
  padding-top: 50px;
  padding-bottom: 155px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.person-header,
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.person-header {
  margin-bottom: 100px;
}

.logo {
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
}

.logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.person-subtitle {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #01ffff;
  margin-bottom: 14px;
}

.person-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}

.person-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 38px;
}

/* .button {
  background: linear-gradient(180deg, #76e2fd 0%, #01ffff 100%);
  box-shadow: 0px 4px 0px #00a7b6;
  border-radius: 5px 5px 10px 10px;
  border: none;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #20202d;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
}

.button:hover {
  cursor: pointer;
  background: #00a7b6;
} */

/*============================= Button */

.button {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 230;
  --primary-lightness: 10;
  --color: hsl(0, 0%, 100%);
  --font-size: 18px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  /* font-family: 'Cyber', sans-serif; */
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  width: 300px;
  min-width: 150px;
  height: 65px;
  line-height: 55px;
  transition: background 0.2s;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.button:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.button:after,
.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.button:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.button:after {
  background: var(--primary);
}

.button__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.button:hover .button__glitch {
  display: block;
}

.button__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

/* .button:nth-of-type(2) {
  --primary-hue: 260;
} */

.person-avatar {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("../img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: right top -10px;
  border: 13px solid #01ffff;
}

/* features */
.features {
  background-color: #000;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}

.features-image {
  display: block;
  margin-bottom: 22px;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.features-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/* projects */
.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-text {
  flex-basis: 48%;
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 41px;
}

.project-tech,
.project-link {
  flex-basis: 50%;
  margin-bottom: 44px;
}

.project-tech,
.project-link,
.project-about {
  display: flex;
  align-items: flex-start;
}

.project-subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.project-paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.project-icon {
  margin-right: 16px;
}

.project-subtitle_link {
  text-decoration: none;
  color: #ffffff;
}

.project-subtitle_link:hover {
  text-decoration: underline;
}

.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.projects-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #01ffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.projects-bullet-active {
  background-color: #01ffff;
}

/* contacts */

.contacts-form {
  background: #ffffff;
  box-shadow: -5px 5px 0px #01ffff;
  border-radius: 5px;
  max-width: 380px;
  padding: 40px 48px 49px 48px;
}

.form-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}

.input {
  background: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  padding-left: 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}

.input-name {
  margin-bottom: 17px;
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.input-mail {
  margin-bottom: 17px;
  background-image: url("../img/mail-icon.png");
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.form-button {
  width: 100%;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-text {
  flex-basis: 50%;
}

.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}

.contacts-social {
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-basis: 100%;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}

/* .contacts-link:hover {
  text-decoration: underline;
} */

.contacts-link {
  --line: #ffffff;
  --line-active: #01ffff;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin .25s;
}
.contacts-link svg {
  width: 276px;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: -55%;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 1.3px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
}
.contacts-link svg:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}

.contacts-mail svg {
  width: 376px;
  height: 110px;
  bottom: -80%;
  stroke-width: 1px;
}


/* responsive */

@media (max-width: 1100px) {
  .person-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
    background-size: cover;
    background-position: center top;
  }
}

@media (max-width: 836px) {
  .person-content {
    flex-direction: column;
  }

  .person-avatar {
    order: 0;
    width: 300px;
    height: 300px;
    border-width: 10px;
    margin-bottom: 17px;
    background-size: cover;
    background-position: center top;
  }

  .person-text {
    order: 1;
    text-align: center;
  }

  .features-item {
    flex-basis: 45%;
  }

  .projects-slide {
    flex-direction: column;
  }

  .project-image {
    margin-bottom: 46px;
  }

  .contacts-block {
    align-items: flex-start;
    flex-direction: column;
  }

  .contacts-form {
    margin-bottom: 58px;
  }
}

@media (max-width: 564px) {
  .person {
    padding-bottom: 75px;
  }

  .person-subtitle {
    font-size: 16px;
    line-height: 27px;
  }

  .person-avatar {
    width: 113px;
    height: 113px;
    border-width: 7px;
    background-size: 100%;
    background-position: center top;
  }

  .person-header {
    margin-bottom: 38px;
  }

  .social-link {
    margin-left: 5px;
  }

  .person-title {
    font-size: 24px;
    line-height: 28px;
  }

  .person-subtitle {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
  }

  .person-description {
    font-size: 14px;
    line-height: 140%;
  }

  .section {
    padding: 60px 0;
  }

  .section-title {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .features-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .features-title {
    font-size: 18px;
    line-height: 28px;
  }

  .features-text {
    font-size: 14px;
    line-height: 28px;
  }

  .project-title {
    font-size: 18px;
    line-height: 150%;
  }

  .project-tech,
  .project-link,
  .project-about {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .project-paragraph {
    font-size: 14px;
  }

  .contacts-form {
    padding: 40px 10px;
  }

  .form-title {
    font-size: 15px;
    line-height: 140%;
  }
  .form-button {
    font-size: 10px;
  }

  .contacts-mail,
  .contacts-phone {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .contacts-title {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts-link {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 13px;
  }
}

